<!-- app/templates/home/index.html -->

{% extends "base.html" %}
{% block body %}
<b>
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Shipments
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li class="active">Shipments</li>
        </ol>
    </section>
    <!-- Main content -->
</b>
<section class="content">
    <b></b>
    <div class="row">
        <b></b>
        <div class="col-xs-12">
            <b></b>
            <div class="box">
                <b>
                    <div class="box-header">
                        <div>
                            <a style="float:right" href="{{ url_for('home.add_shipment') }}">
                                <button class="btn btn-primary">
                                    <i class="fa fa-plus"></i>
                                    Add Shipment
                                </button>
                            </a>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Department</th>
                                <th>Name</th>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>Shipment Date</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for s in shipments%}
                            <tr>
                                <td> {{ s.id }}</td>
                                <td> {{ s.department }}</td>
                                <td> {{ s.name }}</td>
                                <td> {{ s.product.name }}</td>
                                <td> {{ s.quantity }}</td>
                                <td> {{ s.shipment_date }}</td>
                                <td class="dontprint">
                                    <a type="button" class="btn btn-info"
                                       href="{{ url_for('home.edit_shipment', id=s.id) }}">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <button type="button" class="btn btn-primary" onclick="pShipment(this)"><i
                                            class="fa fa-print"></i></button>
                                    {% if current_user.is_admin %}
                                    <a type="button" class="btn btn-danger"
                                       href="{{ url_for('home.delete_shipment', id=s.id) }}">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </b>
                <b>
                    <!-- /.box-body -->
                </b>
            </div>
            <b>
                <!-- /.box -->
            </b>
        </div>
        <b>
            <!-- /.col -->
        </b>
    </div>
    <b>
        <!-- /.row -->
    </b>
</section>
<!-- print div -->
<div id="print" class="content print" style="display:none;">
    <div style="font-size:28px">
        <img src="{{ url_for('static', filename='dist/img/Logo.png') }}" height="70px"><b>P3I</b>
    </div>
    <h4>Contact Person: {{current_user.name}}</h4>
    <h3>Shipment</h3>
    <table border="1">
        <thead>
        <th>ID</th>
        <th>Department</th>
        <th>Name</th>
        <th>Product</th>
        <th>Quantity</th>
        <th>Shipment Date</th>
        </thead>
        <tbody class="printdata">

        </tbody>
    </table>
</div>
<!-- print div -->
<b>
    <!-- /.content -->
</b>
{% endblock %}